{{- define "main" }}

<article class="post-single">
  <header class="post-header">
    <h1 class="post-title">
      {{ .Title }}
      {{- if .Draft }}<div class="draft-tag">DRAFT</div>{{- end }}
    </h1>
    {{- if .Description }}
    <div class="post-description">
      {{ .Description }}
    </div>
    {{- end }}
    {{- if not (.Param "hideMeta") }}
    <div class="post-meta">
        <span>{{ .Date.Format "January 2, 2006" }}</span>
        <span class="dot-divider"></span>
        <span>{{ .ReadingTime }} min read</span>
    </div>
    {{- end }}
  </header>

  <!-- ================================== -->
  <!-- START OF CUSTOM PROJECT METADATA   -->
  <!-- ================================== -->
  <div class="paper-meta">
    <div class="paper-meta-items">
      {{ partial "project_status_icon.html" (dict "status" .Params.status) }}
      {{ with .Params.external }}
      <div class="paper-meta-item">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-link"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 14a3.5 3.5 0 0 0 5 0l4 -4a3.5 3.5 0 0 0 -5 -5l-.5 .5"/><path d="M14 10a3.5 3.5 0 0 0 -5 0l-4 4a3.5 3.5 0 0 0 5 5l.5 -.5"/></svg>
        <a href="{{ . }}" target="_blank" rel="noopener noreferrer">External page</a>
      </div>
      {{ end }}
      {{ with .Params.github }}
      <div class="paper-meta-item">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-brand-github"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5" /></svg>
        <a href="{{ . }}" target="_blank" rel="noopener noreferrer">GitHub page</a>
      </div>
      {{ end }}
    </div>
  </div>
  <!-- ================================== -->
  <!-- END OF CUSTOM PROJECT METADATA     -->
  <!-- ================================== -->

  <div class="post-content">
    {{- .Content -}}
  </div>

  <footer class="post-footer">
    {{- if .Params.tags }}
    <ul class="post-tags">
      {{- range .Params.tags }}
      <li><a href="{{ "tags/" | absLangURL }}{{ . | urlize }}">{{ . }}</a></li>
      {{- end }}
    </ul>
    {{- end }}
  </footer>
</article>

{{- end }}{{/* end main */}}
