{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg persist"><a href="{{ site.baseurl }}/">{{ site.title }}</a></li>
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
            {% else %}
              {% assign domain = site.baseurl %}
            {% endif %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ site.data[site.active_lang].ui-text[link.title_key] | default: link.title }}</a></li>
          {% endfor %}
          <li id="theme-toggle" class="masthead__menu-item persist tail">
            <a role="button" aria-labelledby="theme-icon"><i id="theme-icon" class="fa-solid fa-sun" aria-hidden="true" title="toggle theme"></i></a>
          </li>
          <!-- Language Switcher -->
          {% for lang_code in site.languages %}
            {% assign lang_name = "" %}
            {% assign lang_flag = "" %}
            {% if lang_code == "en" %}
              {% assign lang_name = "English" %}
              {% assign lang_flag = "/images/flags/gb.svg" %}
            {% elsif lang_code == "nb" %}
              {% assign lang_name = "Norsk Bokmål" %}
              {% assign lang_flag = "/images/flags/nb.svg" %}
            {% endif %}
            {% if lang_code == site.active_lang %}
              <li class="masthead__menu-item masthead__menu-item--active"><a href="#" title="{{ lang_name }}"><img src="{{ lang_flag }}" alt="{{ lang_name }}" style="height:1em;vertical-align:middle;"></a></li>
            {% else %}
              <li class="masthead__menu-item">
                <a href="{{ page.url | I18n_permalink: lang_code }}" title="{{ lang_name }}"><img src="{{ lang_flag }}" alt="{{ lang_name }}" style="height:1em;vertical-align:middle;"></a>
              </li>
            {% endif %}
          {% endfor %}
          <!-- End Language Switcher -->
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>