{{- define "main" }}

{{- if .Content }}
  <div class="page-header">
    <h1>{{ .Title }}</h1>
    {{- if .Description }}
    <div class="page-description">{{ .Description }}</div>
    {{- end }}
  </div>
  <div class="post-content">
    {{ .Content }}
  </div>
{{- else }}
  <div class="page-header">
    <h1>{{ .Title }}</h1>
  </div>
{{- end }}

<div class="posts">
{{- $pages := .Pages }}
{{- if .IsHome }}
{{- $pages = where site.RegularPages "Type" "in" site.Params.mainSections }}
{{- end }}
{{- range $pages.GroupByDate "2006" }}
  <div class="archive-year">
    <h2 class="archive-year-header">
      {{.Key}}
    </h2>
    {{- range .Pages }}
    <article class="post-entry">
      <header class="entry-header">
        <h2>
          {{ .Title }}
          {{- if .Draft }}<div class="draft-tag">DRAFT</div>{{- end }}
        </h2>
      </header>
      <div class="entry-content">
        <p>{{ .Summary | plainify | safeHTML }}</p>
      </div>
      <!-- Custom Journal Info in List -->
      {{ with .Params.journal }}
      {{- $journalPage := site.GetPage (printf "/journals/%s" (. | urlize)) -}}
      <div class="entry-meta-journal">
        <em><a href="{{ `journals/` | absLangURL }}{{ . | urlize }}">{{ . }}</a>{{ if $journalPage }}<sup>{{ $journalPage.Count }}</sup>{{ end }}</em>
      </div>
      {{ end }}
      <!-- End Custom Journal Info -->

      <!-- Custom Co-authors Info in List -->
      {{ with .Params.co_authors }}
      <div class="entry-meta-coauthors">
        <ul class="co-author-list-in-summary">
          {{- range $index, $author := . -}}
          {{- $coauthorPage := site.GetPage (printf "/coauthors/%s" ($author | urlize)) -}}
          <li><a href="{{ `coauthors/` | absLangURL }}{{ $author | urlize }}">{{ $author }}</a>{{ if $coauthorPage }}<sup>{{ $coauthorPage.Count }}</sup>{{ end }}</li>
          {{- end -}}
        </ul>
      </div>
      {{ end }}
      <!-- End Custom Co-authors Info -->
      <footer class="entry-footer">
        {{- partial "post_meta.html" . -}}
      </footer>
      <a class="entry-link" aria-label="post link to {{ .Title | plainify }}" href="{{ .Permalink }}"></a>
    </article>
    {{- end }}
  </div>
{{- end }}
</div>

{{- end }}{{/* end main */}}