{{- define "main" }}

<article class="post-single">
  <header class="post-header">
    <h1 class="post-title">
      {{ .Title }}
      {{- if .Draft }}<div class="draft-tag">DRAFT</div>{{- end }}
    </h1>
    {{- if .Description }}
    <div class="post-description">
      {{ .Description }}
    </div>
    {{- end }}
    {{- if not (.Param "hideMeta") }}
    <div class="post-meta">
        <span>{{ .Date.Format "January 2, 2006" }}</span>
        <span class="dot-divider"></span>
        <span>{{ .ReadingTime }} min read</span>
    </div>
    {{- end }}
  </header>

  <div class="two-column-layout">
    <div class="left-column">
      <!-- Co-authors List (Pills) -->
      {{ with .Params.co_authors }}
      <div class="paper-meta-item">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-users"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 7m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" /><path d="M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" /><path d="M16 3.13a4 4 0 0 1 0 7.75" /><path d="M21 21v-2a4 4 0 0 0 -3 -3.85" /></svg>
        <ul class="co-author-list">
          {{- range $index, $author := . -}}
          <li><a href="{{ `coauthors/` | absLangURL }}{{ $author | urlize }}">{{ $author }}</a></li>
          {{- end -}}
        </ul>
      </div>
      {{ end }}
    </div>

    <div class="right-column">
      <!-- ================================== -->
      <!-- START OF CUSTOM PAPER METADATA     -->
      <!-- ================================== -->
      <div class="paper-meta">
        <div class="paper-meta-items">

          {{ with .Params.journal }}
          <div class="paper-meta-item">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-book"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 19a9 9 0 0 1 9 0a9 9 0 0 1 9 0"/><path d="M3 6a9 9 0 0 1 9 0a9 9 0 0 1 9 0"/><path d="M3 6l0 13"/><path d="M12 6l0 13"/><path d="M21 6l0 13"/></svg>
            <ul class="post-tags">
              <li><a href="{{ `journals/` | absLangURL }}{{ . | urlize }}">{{ . }}</a></li>
            </ul>
          </div>
          {{ end }}

          {{ with .Params.doi }}
          <div class="paper-meta-item">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-link"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M10 14a3.5 3.5 0 0 0 5 0l4 -4a3.5 3.5 0 0 0 -5 -5l-.5 .5"/><path d="M14 10a3.5 3.5 0 0 0 -5 0l-4 4a3.5 3.5 0 0 0 5 5l.5 -.5"/></svg>
            <a href="https://doi.org/{{ . }}" target="_blank" rel="noopener noreferrer">{{ . }}</a>
          </div>
          {{ end }}
        </div>
      </div>
      <!-- ================================== -->
      <!-- END OF CUSTOM PAPER METADATA       -->
      <!-- ================================== -->
      
      {{- if .Params.youtube }}
      <div class="video-container">
        <iframe src="https://www.youtube.com/embed/{{ .Params.youtube }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      {{- end }}
    </div>
  </div>
  
  <div class="post-content">
    {{- .Content -}}
  </div>

  <footer class="post-footer">
    {{- if .Params.tags }}
    <ul class="post-tags">
      {{- range .Params.tags }}
      <li><a href="{{ "tags/" | absLangURL }}{{ . | urlize }}">{{ . }}</a></li>
      {{- end }}
    </ul>
    {{- end }}
  </footer>
</article>

{{- end }}{{/* end main */}}